@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "baloo";
    src: url(../fonts/Baloo2-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "baloo";
    src: url(../fonts/Baloo2-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "baloo";
    src: url(../fonts/Baloo2-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "baloo";
    src: url(../fonts/Baloo2-ExtraBold.ttf);
    font-weight: 800;
}